.container {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.challengeItem {
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.challengeValue {
    font-weight: bold;
}

.challengeLabel {
    color: #424242;
}
